VITE_API_BASE_URL=http://localhost:8000/api
VITE_JAMENDO_CLIENT_ID=aee77fe5

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBDAj5DJMzrbscqmGLfxLOoM034AYDgEEw
VITE_FIREBASE_AUTH_DOMAIN=chillmusicapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chillmusicapp
VITE_FIREBASE_STORAGE_BUCKET=chillmusicapp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=526233858504
VITE_FIREBASE_APP_ID=1:526233858504:web:b3d400e05981ec15c1d0fd
VITE_FIREBASE_MEASUREMENT_ID=G-DLLFQ86S2G

