JAMENDO_CLIENT_ID=aee77fe5
YOUTUBE_API_KEY=AIzaSyAVW_86xvVRgRWu25NFhyiPGBSpuHx_BvA
DATABASE_URL=sqlite:///./chillmusic.db
# For MySQL, use: mysql+pymysql://user:password@localhost:3306/chillmusic
SECRET_KEY=your-secret-jwt-key
REFRESH_SECRET_KEY=your-refresh-secret-jwt-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

